body{
    padding: 0;
    margin: 0;
    width: 100%;
    background: url("https://images.pexels.com/photos/534362/pexels-photo-534362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center;
   
}

.navbar-toggler{
    margin-top: -11px;
}

.letraNav{
    font-family: 'IBM Plex Mono', monospace;
    color: beige;
}

#contact{
    position: relative; 
    text-align: right;
    width: 65%;
    top: 135px;
    left: 395px;
    font-family: 'IBM Plex Mono', monospace;
    display: none;
}

.datosDeContacto{
    opacity: 0.79;
    padding: 15px;
    background-color: beige;
    color: black;
}


#contact1{
    
    position: absolute;
    top: -80px;
    right: 85px;
    color: rgb(28, 100, 14);
}


.img{
    position: absolute;
    width: 300px;
   left: -360px;
   top:-110px;
}


.links{
    cursor: pointer;
}

.cursorNormal{
    cursor: default;
}

#home{
    position: relative;
   display: block;
    text-align: right;
    top: 65px;
    right: 175px;
}

.titulo{
    font-family: 'Monoton', cursive; 
    cursor: default;
}

.parrafo{
    font-family: 'IBM Plex Mono', monospace;
}


.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }


@-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
} 

.imagenConCompu{
    position: relative;
    left: -400px ;
    top: -80px;
}

.imagenConGundam{
    display: none;
}

#blog{
    position: absolute;
    bottom: 160px;
    left: 5px;
    text-align: center; 
    display: none;
    color: beige;
}

#navegacionFija{
    position: fixed;
    z-index: +1;
}

.menuBlog:hover{
    background-color: greenyellow;
    color:black;
}

#bienvenidaABlog{
    position: fixed;
    font-family: 'IBM Plex Mono', monospace;
    z-index: -1;
    top: 250px;
    right: 70px;
    color: rgba(2, 104, 2, 0.637);;

}

#tituloArticulo{
    position: absolute;
    display: none;
    background-color: greenyellow;
    color: black;
    opacity: 0.85;
    right: -1185px;
    top:-230px;
    margin: 15px;
    padding: 25px;
    width: 780px;
}

@media (max-width: 600px) {

    body{
        padding: 0;
        margin: 0;
        width: 100%;
        background: url("https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center;
       
    }

    #home{
        position: relative;
      color: greenyellow;
      padding: 15px;
      background-color: black;
      opacity: 0.84;
        text-align: right;
        top: 65px;
        right: 0;
        text-align: center;
    }

    .imagenConCompu{
        display: none;
    }

    .imagenConGundam{
        position: absolute;
        display: block;
        top: 315px;
        left: 55px;
    }

    .img{
        position: absolute;
        width: 300px;
       left: -360px;
       top:-110px;
    }

    .datosDeContacto{
        position: absolute;
        left: -380px;
        top: 260px;
        width: 350px;
    }

    #contact1{
    
        position: absolute;
        top: 730px;
        right: 285px;
        color: rgb(28, 100, 14);
        background-color: black;
        padding: 10px;
        opacity: 0.85;
    }

    #bienvenidaABlog{
        display: none;
    }

    #blog{
        position: absolute;
        top: 200px;
        left: 5px;
         text-align: right;
        
        color: greenyellow;
        border-style: solid;
        border-width: 2px;    
    }

    #tituloArticulo{
        position: absolute;
        background-color: greenyellow;
        color: black;
        opacity: 0.85;
        right: -360px;
        text-align: center;
        top:420px;
        margin: 15px;
        padding: 25px;
        width: 320px;
    }
    
    #navegacionFija{
        position: absolute;
        z-index: +1;
        width: 350px;
    }

    .imagenArticulo1{
    width: 265px;
    }
}