body,
html {
    margin: 0;
    padding: 0;
    background-color: black!important;
}

.contenido {
    color: azure;
    font-family: 'Press Start 2P', cursive;
    padding: 15px;
    background-color: black;
    opacity: 0.81;
    margin: 25px;
    text-align: center;
}

.contenido h1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.0s steps(40, end), blink-caret .4s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: azure;
    }
}

.intel {
    top: 145px;
    left: 25px;
    color: azure;
    background-color: black;
    opacity: 0.85;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    text-align: center;
}

.content {
    width: 1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 30px;
    font-family: 'Press Start 2P', cursive;
}

.content .box {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    break-inside: avoid;
    cursor: pointer;
}

.content .box img {
    max-width: 100%!important;
}

.content .box h2 {
    font-size: 12px;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.content .box p {
    font-size: 10px;
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
}

@media (max-width:1200px) {
    .content {
        columns: 3;
        width: calc (100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

@media (max-width:768px) {
    .content {
        columns: 2;
    }
}

@media (max-width:480px) {
    .content {
        columns: 1;
    }
}