body{
    margin:0;
    overflow-y: hidden;
    overflow-x: hidden;
}


.videoFondo{
position: absolute;
width: 100%;
top: -55px;
}

.contenido{
    position: absolute;
   
    color: azure;
    font-family: 'Press Start 2P', cursive;
   padding: 15px;
   
    background-color: black;
    opacity: 0.81;
    margin: 25px;
}

.contenido h1{
    overflow: hidden; 
  border-right: .15em solid azure;
  white-space: nowrap;
  
  
    animation: 
    typing 1.0s steps(40, end),
    blink-caret .4s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: azure; }
}

.intel{
    position: absolute;
    top: 195px;
    left: 25px;
    color: azure;
    background-color: black;
    opacity: 0.85;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
}

.redes{
   position: absolute;
   font-size: 35px;
   right: 15px;
   top: 5px;
    color: azure;
    
    z-index: 99;
}

.redes i{
   padding-right:15px; 
    opacity: 0.85;
    cursor: pointer;
}

.redes i:hover{
    opacity: 1;
}

.videoYoutube{
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.menu{
    position: relative;
    color: beige;
    top: 15px;
    font-family: 'Press Start 2P', cursive;
}

.menu i{
    position: relative;
    color: beige;
    top: 305px;
    left: 25px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    opacity: 0.81;
}

.menu i:hover{
    opacity: 1;
    font-style: normal;
}

.fondoNegro{
    background-color: black;
    padding: 5px;
    opacity: 0.85;
}

#contenidoSeleccionado{
    position: relative;
    color: beige;
    top: 315px;
    left: 28px;
    width: 640px;
    height: 250px;
    overflow-y: scroll;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

#contenidoSeleccionado::-webkit-scrollbar{
    width: 7px;
    background: rgb(59, 59, 43);
}

#contenidoSeleccionado::-webkit-scrollbar-thumb{
    background: #42863fad;
    border-radius: 12px;
}

.robotGif{
    width: 400px;
}

.ilonImg{
    width: 400px;
}

@media (max-width: 846px) {
    body{
        background-image: url('ae19d88a6ca2854c4f4e73e1d29608b4.jpg');
        width: 100%;
        height: 150%;
        overflow-y: scroll;
    }
    
    .redes{
        position: absolute;
       
        
        top: 5px;
        left: 19%;
         color: azure;
         
         z-index: 99;
     }

    .contenido{
        
       top: 60px;
       width: 100%;
       text-align: center;
        background-color: black;
        opacity: 0.81;
        margin: 0;
    }
    
    .contenido h1{
        font-size: 25px;
    }

    .intel{
        position: absolute;
        top: 145px;
        left: 0px;
        color: azure;
        background-color: black;
        opacity: 0.85;
        font-family: 'Press Start 2P', cursive;
        padding: 5px;
    }

    .videoYoutube{
        display: none;
    }

    .menu{
        top: 75px;
        z-index: 99;
    }

    #contenidoSeleccionado{
       position: absolute;
        top: 410px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: center;
    }

}
